<div id="side-menu">
    <h6>ALERTOGO</h4>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="./login.html" class="nav-link active" aria-current="page">
            <i class="bi bi-house"></i><br>
        Profile
        <br>
        </a>
    </li>
    <li class="nav-item">
        <a href="./register.html" class="nav-link link-dark">
            <i class="bi bi-pen"></i><br>
        Sign-Up
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="bi bi-file-earmark-word"></i><br>
        Disclaimer
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="bi bi-shield-fill-check"></i><br>
        Privacy
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="bi bi-globe"></i><br>
        Language
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="bi bi-box-arrow-right"></i><br>
            <span id="signout-btn">Log Out</span>
        </a>
    </li>
    </ul>
</div>