<div id="side-menu">
    <h6>ALERTOGO</h6>
    <p>Not Logged In Yet</p>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="./login.html" class="nav-link active" aria-current="page">
            <i class="bi bi-house"></i>
        Log in
        </a>
    </li>
    <li class="nav-item">
        <a href="./register.html" class="nav-link link-dark">
            <i class="bi bi-pen"></i>
        Sign-Up
        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="bi bi-file-earmark-word"></i>
        Disclaimer
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="bi bi-shield-fill-check"></i>
        Privacy
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="bi bi-globe"></i>
        Language
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link link-dark">
            <i class="bi bi-box-arrow-right"></i>
        Log Out
        </a>
    </li>
    </ul>
</div>